.comune{
    height:300px;
    width:45%;
}
.sinistra{
    /*background-color: red;*/
    float: left;
}

.destra{
   /* background-color: blue;*/
    float: right;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
